header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h3{
    font-size: 5em;
    color: red;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 10px;
}

h3{
    color:crimson;
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
    letter-spacing: 10px;
}